.Button-default {
  border-radius: 15px;
  font-family: 'Bungee Inline', cursive;
  font-size: 6vw;
  text-align: center;
  color: #002E4A;
  background-color: white;
  border: #002E4A solid 2px;
}

.Button-default:disabled {
  color: lightgray;
  border: lightgray dotted 2px
}

