.Button-normal {
  width: 70%;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
  font: 400 11px system-ui;
}

