.Button-default {
  background-color: gray;
  color: white;
  border-radius: 10px;
  font: 400 11px system-ui;
  text-align: center;
}

.Button-default:disabled {
  background-color: white;
  color: gray;
  border: gray dotted 2px
}

