.Fetching-container {
    background-color: #002E4A;
    text-align: center;
}

.Fetching-progress {
    width: 70vw;
    margin: 5vh 0;
}

.Fetching-text {
    color: white;
    margin: 0 0 5vh 0;
    text-align: center;
}