.GlobalNav-container {
  margin-top: 1vh;
  background-color: #002E4A;
  padding: 1vh;
}

.GlobalNav-item {
  padding: 1px;
  margin: 0 1vw;
  color: white;
  font-size: 4vw;
  text-align: center;
  flex-grow: 1;
}

