.Evidence-tandcs-container {
    margin-bottom: 1vh;
}

.Evidence-location-container {
    margin: 2vh 0;
}

.Evidence-separator {
    padding-left: 10vw;
    font-family: 'Bungee Inline';
    font-size: 8vw;
}


.Evidence-privacy {
    padding-top: 1vh;
}