.MyProfile-badge-container {
    overflow: hidden;
}

.MyProfile-badge {
    width: 100%;
    height: 15vw;
    position: relative;
    float: left;
}

.MyProfile-InProgress {
    text-align: center;
}