.PickADeed-root {
    margin: 0 16px 0 16px;
}

.PickADeed-body {
    color: white;
    padding: 1vh 1vh 0 1vh;
}

.PickADeed-header {
    color: white;
    padding: 1vh;
}

.PickADeed-title {
    padding-left: 16px;
    margin: 1vh;
}