.PickADeed-root {
    margin: 0 16px 0 16px;
}

.PickADeed-body {
    color: white;
}

.PickADeed-header {
    color: white;
    padding: 1vh;
}

.PickADeed-title {
    padding-left: 16px;
    margin: 1vh;
}

.PickADeed-intro {
    margin: 1vh;
}

.PickADeed-type-container {

}

.PickADeed-left-affordance {
    justify-content: space-evenly;
    background: linear-gradient(0.25turn, white, #20BCA4);
}

.PickADeed-right-affordance {
    justify-content: space-evenly;
    background: linear-gradient(0.75turn, white, #20BCA4);
}

.PickADeed-chevron {
    height: 8vw;
    colour: #20BCA4;
}