.PickADeed-root {
    margin: 0 16px 0 16px;
}

.PickADeed-body {
    color: white;
}

.PickADeed-header {
    color: white;
    padding: 2vh;
    font-family: 'Bungee Inline';
}

.PickADeed-title {
    padding-left: 1vh;
    margin: 2vh 1vh;
}

.PickADeed-intro {
    margin: 1vh;
}

.PickADeed-accordion-container {
    margin-top: auto;
}