.Pledge-container {
    align-items: center;
    margin: 3vh auto;
    width: 90%
}

.Pledge-quote {
    font-style: italic;
    text-align: left;
}

.Pledge-image {
    margin-right: 3vw;
    width: 30vw;
}
