@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3vh;
  color: #002E4A;
}

.page {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  flex: 50; /* all the inner vertical space */
}

.flexContainerRow {
  display: flex;
  flex-direction: row;
}

.flexContainerColumn {
  display: flex;
  flex-direction: column;
}

.flexFixedSize {
  flex: 0 0 auto;
  align-self: center;
}

.flexDynamicSize {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

.fadein {
  animation: fadein 2s;
}

.fadeout {
  animation: fadeout 2s;
}

